<!-- Page header with title and breadcrumbs -->
<div class="page-header d-flex align-items-center justify-content-between flex-wrap gap-2 mb-0">
    <div>
        <h1 class="page-title">
            {{ app.localize('Currencies') }}
        </h1>
        <nav>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item icon">
                    <a [routerLink]="['/']" [appTooltip]="app.localize('Home')">
                        <i class="ri-home-4-line"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    {{ app.localize('Settings') }}
                </li>
                <li class="breadcrumb-item active">
                    {{ app.localize('Currencies') }}
                </li>
            </ol>
        </nav>
    </div>
    <div class="float-end">
        <!-- Add new currency button -->
        <button (click)="openMainModal(0)" type="button" class="btn btn-primary btn-round">
            <i class="ri-add-line"></i>
            {{ app.localize('Add New') }}
        </button>
    </div>
</div>

<div class="main-content">
    <div class="card">
        <div class="card-body py-2">
            <div class="table-responsive">
                <!-- Currencies DataTable -->
                <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="table" id="dataTable">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Currency modal (add/edit) -->
    <div class="modal-container">
        <div
            [ngClass]="{ show: mainModal.show }"
            [attr.inert]="!mainModal.show ? '' : null"
            class="modal right fade"
            role="dialog"
            tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button (click)="closeMainModal()" type="button" class="btn btn-icon btn-back">
                            <i class="ri-arrow-left-line"></i>
                        </button>
                        <h5 class="modal-title ms-2 w-100">
                            {{ mainModal.title }}
                        </h5>
                    </div>
                    <div [ngClass]="{ 'disabled loader-full': mainModal.loading }" class="modal-body">
                        <!-- Currency form -->
                        @if (!mainModal.loading) {
                        <form
                            #frm="ngForm"
                            [ngClass]="{ 'was-validated': mainModal.validated }"
                            (ngSubmit)="submitForm(frm)"
                            id="frm"
                            autocomplete="off"
                            novalidate>
                            <input [(ngModel)]="currency.id" type="hidden" name="id" />

                            <!-- Currency Code -->
                            <div class="form-group">
                                <label for="currencyCode" class="control-label">
                                    {{ app.localize('Currency') }}
                                    <code>*</code>
                                </label>
                                @if (!mainModal.isUpdate) {
                                <ng-select
                                    [(ngModel)]="currency.currencyCode"
                                    [items]="systemCurrencies"
                                    bindLabel="name"
                                    bindValue="code"
                                    [class.is-invalid]="mainModal.validated && !currency.currencyCode"
                                    id="currencyCode"
                                    name="currencyCode"
                                    placeholder="{{ app.localize('Choose a currency') }}"
                                    [required]="true"
                                    [clearable]="false"
                                    [searchable]="true"></ng-select>
                                } @else {
                                <input
                                    [(ngModel)]="currency.currencyCode"
                                    id="currencyCode"
                                    name="currencyCode"
                                    type="text"
                                    class="form-control"
                                    readonly />
                                } @if(mainModal.validated && !currency.currencyCode){
                                <div class="invalid-feedback">
                                    {{ app.localize('This field is required.') }}
                                </div>
                                }
                            </div>

                            <!-- Exchange Rate -->
                            <div class="form-group">
                                <label for="exchangeRate" class="control-label">
                                    {{ app.localize('Exchange Rate') }}
                                    <code>*</code>
                                </label>
                                <input
                                    [(ngModel)]="currency.exchangeRate"
                                    [appCleaveNumber]="app.getCleaveNumberOptions(4, true)"
                                    [disabled]="currency.isBaseCurrency"
                                    id="exchangeRate"
                                    name="exchangeRate"
                                    type="text"
                                    class="form-control"
                                    maxlength="18"
                                    placeholder="{{ app.getNumberPlaceholder('1.0000') }}"
                                    required />
                                <div class="invalid-feedback">
                                    {{ app.localize('This field is required.') }}
                                </div>
                            </div>

                            <!-- Decimal Places -->
                            <div class="form-group">
                                <label for="decimalPlaces" class="control-label">
                                    {{ app.localize('Decimal Places') }}
                                    <code>*</code>
                                    <a
                                        href="javascript:void(0)"
                                        class="btn-link-icon"
                                        [appTooltip]="app.localize('Number of decimal places for this currency')">
                                        <i class="ri-information-line ms-2"></i>
                                    </a>
                                </label>
                                <ng-select
                                    [(ngModel)]="currency.decimalPlaces"
                                    [items]="[0, 1, 2, 3, 4]"
                                    [clearable]="false"
                                    [searchable]="false"
                                    id="decimalPlaces"
                                    name="decimalPlaces"
                                    class="form-control"
                                    required></ng-select>
                            </div>

                            <div class="form-group">
                                <!-- Active Status -->
                                <div class="form-check form-switch mb-0">
                                    <input
                                        [(ngModel)]="currency.isActive"
                                        type="checkbox"
                                        id="isActive"
                                        name="isActive"
                                        class="form-check-input" />
                                    <label for="isActive" class="form-check-label">
                                        {{ app.localize('Status') }}
                                        ({{ currency.isActive ? app.localize('Active') : app.localize('Inactive') }})
                                        <a
                                            href="javascript:void(0)"
                                            class="btn-link-icon"
                                            [appTooltip]="app.localize('Enable this currency for users')">
                                            <i class="ri-information-line ms-2"></i>
                                        </a>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- Base Currency Status -->
                                <div class="form-check form-switch mb-0">
                                    <input
                                        [(ngModel)]="currency.isBaseCurrency"
                                        type="checkbox"
                                        id="isBaseCurrency"
                                        name="isBaseCurrency"
                                        class="form-check-input" />
                                    <label for="isBaseCurrency" class="form-check-label">
                                        {{ app.localize('Set as Base Currency') }}
                                        <a
                                            href="javascript:void(0)"
                                            class="btn-link-icon"
                                            [appTooltip]="
                                                app.localize('Set as base currency (only one) for the system')
                                            ">
                                            <i class="ri-information-line ms-2"></i>
                                        </a>
                                    </label>
                                </div>
                            </div>

                            <div class="pb-5"></div>
                            <!-- Form actions -->
                            <div [ngClass]="{ disabled: mainModal.submitted }" class="form-actions py-0">
                                <button (click)="closeMainModal()" type="button" class="btn btn-light btn-round me-2">
                                    <i class="ri-close-line"></i>
                                    {{ mainModal.btnCancelText }}
                                </button>
                                <button
                                    [ngClass]="{ 'disabled btn-progress': mainModal.submitted }"
                                    type="submit"
                                    class="btn btn-primary btn-round">
                                    <i class="ri-save-3-line"></i>
                                    {{ mainModal.btnSaveText }}
                                </button>
                            </div>
                        </form>
                        }
                    </div>
                </div>
            </div>
            <div (click)="closeMainModal()" class="modal-backdrop"></div>
        </div>
    </div>
</div>
