<div class="heading heading-sub">
    <h4>
        {{ app.localize('Reset Password?') }}
    </h4>
    <p class="text-muted mb-3">
        {{ app.localize('Enter a new password for') }}
        <span>{{ email }}</span>
    </p>
</div>
<!-- Reset password form -->
<div class="row gy-3">
    <form
        #frm="ngForm"
        [ngClass]="{ 'was-validated': isFormValidated }"
        (ngSubmit)="submitForm(frm)"
        autocomplete="off"
        id="frm"
        novalidate>
        <!-- New Password input -->
        <div class="form-group">
            <label for="newPassword" class="control-label">
                {{ app.localize('New Password') }}
            </label>
            <div class="input-with-icon">
                <input
                    ngModel
                    id="newPassword"
                    type="password"
                    class="form-control"
                    name="newPassword"
                    required
                    [attr.pattern]="'^(?=.*[A-Za-z])(?=.*\\d)[A-Za-z\\d@$!%*#?&]{6,}$'"
                    minlength="6"
                    maxlength="30"
                    tabindex="2" />
                <button
                    type="button"
                    class="input-icon-end toggle-password me-1"
                    tabindex="-1"
                    data-target="#newPassword">
                    <i class="ri-eye-line"></i>
                </button>
                <div class="invalid-feedback">
                    {{ app.localize('At least 6 characters, including a letter and a number.') }}
                </div>
            </div>
        </div>
        <!-- Confirm Password input -->
        <div class="form-group">
            <label for="confirmPassword" class="control-label">
                {{ app.localize('Confirm Password') }}
            </label>
            <div class="input-with-icon">
                <input
                    ngModel
                    id="confirmPassword"
                    type="password"
                    class="form-control"
                    name="confirmPassword"
                    required
                    [attr.pattern]="'^(?=.*[A-Za-z])(?=.*\\d)[A-Za-z\\d@$!%*#?&]{6,}$'"
                    minlength="6"
                    maxlength="30"
                    tabindex="2" />
                <button
                    type="button"
                    class="input-icon-end toggle-password me-1"
                    tabindex="-1"
                    data-target="#confirmPassword">
                    <i class="ri-eye-line"></i>
                </button>
                <div class="invalid-feedback">
                    {{ app.localize('At least 6 characters, including a letter and a number.') }}
                </div>
            </div>
        </div>
        <!-- Login button -->
        <div class="form-group mt-5">
            <button
                [ngClass]="{ 'disabled btn-progress': isFormSubmitted }"
                type="submit"
                class="btn btn-primary btn-round btn-lg w-100"
                tabindex="3">
                {{ app.localize('Reset Password') }}
            </button>
        </div>
    </form>
</div>
