<!-- Page header with title and breadcrumbs -->
<div class="page-header d-flex align-items-center justify-content-between flex-wrap gap-2 mb-0">
    <div>
        <h1 class="page-title">
            {{ app.localize('Shifts') }}
        </h1>
        <nav>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item icon">
                    <a [routerLink]="['/']" [appTooltip]="app.localize('Home')">
                        <i class="ri-home-4-line"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    {{ app.localize('HRM') }}
                </li>
                <li class="breadcrumb-item active">
                    {{ app.localize('Shifts') }}
                </li>
            </ol>
        </nav>
    </div>
    <div class="float-end">
        <!-- Add new shift button -->
        <button (click)="openMainModal(0)" type="button" class="btn btn-primary btn-round">
            <i class="ri-add-line"></i>
            {{ app.localize('Add New') }}
        </button>
    </div>
</div>

<div class="main-content">
    <div class="card">
        <div class="card-body py-2">
            <div class="table-responsive">
                <!-- Shifts DataTable -->
                <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="table" id="dataTable">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Shift modal (add/edit) -->
    <div class="modal-container">
        <div
            [ngClass]="{ show: mainModal.show }"
            [attr.inert]="!mainModal.show ? '' : null"
            class="modal right fade"
            role="dialog"
            tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button (click)="closeMainModal()" type="button" class="btn btn-icon btn-back">
                            <i class="ri-arrow-left-line"></i>
                        </button>
                        <h5 class="modal-title ms-2 w-100">
                            {{ mainModal.title }}
                        </h5>
                    </div>
                    <div [ngClass]="{ 'disabled loader-full': mainModal.loading }" class="modal-body">
                        <!-- Shift form -->
                        @if (!mainModal.loading) {
                        <form
                            #frm="ngForm"
                            [ngClass]="{ 'was-validated': mainModal.validated }"
                            (ngSubmit)="submitForm(frm)"
                            id="frm"
                            autocomplete="off"
                            novalidate>
                            <input [(ngModel)]="shift.id" type="hidden" name="id" />

                            <!-- Shift Name -->
                            <div class="form-group">
                                <label for="shiftName" class="control-label">
                                    {{ app.localize('Shift Name') }}
                                    <code>*</code>
                                </label>
                                <input
                                    [(ngModel)]="shift.shiftName"
                                    id="shiftName"
                                    name="shiftName"
                                    type="text"
                                    class="form-control"
                                    maxlength="50"
                                    required />
                                <div class="invalid-feedback">
                                    {{ app.localize('This field is required.') }}
                                </div>
                            </div>

                            <!-- Start Time & End Time -->
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="startTime" class="control-label">
                                        {{ app.localize('Start Time') }}
                                        <code>*</code>
                                    </label>
                                    <div class="input-with-icon">
                                        <input
                                            [(ngModel)]="shift.startTime"
                                            type="time"
                                            name="startTime"
                                            id="startTime"
                                            onclick="this.showPicker()"
                                            class="form-control"
                                            required />
                                        @if (shift.startTime) {
                                        <button
                                            (click)="shift.startTime = null"
                                            type="button"
                                            class="input-icon-end"
                                            tabindex="-1">
                                            <i class="ri-close-line"></i>
                                        </button>
                                        }
                                        <div class="invalid-feedback">
                                            {{ app.localize('This field is required.') }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label for="endTime" class="control-label">
                                        {{ app.localize('End Time') }}
                                        <code>*</code>
                                    </label>
                                    <div class="input-with-icon">
                                        <input
                                            [(ngModel)]="shift.endTime"
                                            type="time"
                                            name="endTime"
                                            id="endTime"
                                            onclick="this.showPicker()"
                                            class="form-control"
                                            required />
                                        @if (shift.endTime) {
                                        <button
                                            (click)="shift.endTime = null"
                                            type="button"
                                            class="input-icon-end"
                                            tabindex="-1">
                                            <i class="ri-close-line"></i>
                                        </button>
                                        }
                                        <div class="invalid-feedback">
                                            {{ app.localize('This field is required.') }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Break Minutes -->
                            <div class="form-group">
                                <label for="breakMinutes" class="control-label">
                                    {{ app.localize('Break Minutes') }}
                                    <code>*</code>
                                </label>
                                <input
                                    [(ngModel)]="shift.breakMinutes"
                                    [appCleaveNumber]="app.getCleaveNumberOptions(0, true)"
                                    [appCleaveNumberMin]="0"
                                    [appCleaveNumberMax]="400"
                                    id="breakMinutes"
                                    name="breakMinutes"
                                    type="text"
                                    inputmode="numeric"
                                    class="form-control"
                                    required />
                                <div class="invalid-feedback">
                                    {{ app.localize('This field is required.') }}
                                </div>
                            </div>

                            <!-- Description -->
                            <div class="form-group">
                                <label for="description" class="control-label">
                                    {{ app.localize('Description') }}
                                </label>
                                <textarea
                                    [(ngModel)]="shift.description"
                                    id="description"
                                    name="description"
                                    class="form-control"
                                    maxlength="255"
                                    rows="3"></textarea>
                            </div>

                            <div class="pb-5"></div>
                            <!-- Form actions -->
                            <div [ngClass]="{ disabled: mainModal.submitted }" class="form-actions py-0">
                                <button (click)="closeMainModal()" type="button" class="btn btn-light btn-round me-2">
                                    <i class="ri-close-line"></i>
                                    {{ mainModal.btnCancelText }}
                                </button>
                                <button
                                    [ngClass]="{ 'disabled btn-progress': mainModal.submitted }"
                                    type="submit"
                                    class="btn btn-primary btn-round">
                                    <i class="ri-save-3-line"></i>
                                    {{ mainModal.btnSaveText }}
                                </button>
                            </div>
                        </form>
                        }
                    </div>
                </div>
            </div>
            <div (click)="closeMainModal()" class="modal-backdrop"></div>
        </div>
    </div>
</div>
